<div class="container mt-5">
  <form (ngSubmit)="onFormSubmit()" #form="ngForm" class="form-container">
    <div class="form-group">
      <mat-form-field class="comment-input" appearance="outline">
        <textarea matInput [(ngModel)]="comment" name="comment" placeholder="say something"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group mt-2">
    </div>
    <div class="form-group mt-3">
      <div class="custom-file">
      <button type="submit" class="btn btn-primary">Post</button>
        <input type="file" id="image" (change)="onFileSelected($event)" name="image" accept="image/*" class="custom-file-input" required>
        <label for="image" id="postsphoto">Upload Photos</label>
      </div>
    </div>
    
  </form>

  <div *ngIf="submitted" class="mt-4 submitted-data">
    <h2>Your Posts</h2>
    <p>{{ comment }}</p>
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded Image" class="uploaded-image" height="200">
  </div>
</div>
